#transbox {
  margin: 30px;
  border-radius: 30px;
  background-color: #FFFFFF;
  border: 5px solid #33CCFF;
  opacity: 0.7;
}

#firstNormalText {
  margin-top: 30px;
  margin-bottom: 0px;
}

#firstList {
  margin-left: 120px;
  margin-right: 0px;
  padding-right: 0px;
}

#secondList {
  margin-left: 0px;
  padding-left: 0px;
}

#bottomText {
  clear: left;
  float: bottom;
  margin-bottom: 30px;
}

#veryBottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
}

#veryBottom p {
  text-align: center;
}

#contactMeLink {
  position: fixed;
  bottom: 0;
  right: 0;
}

#image {
  height: 100px;
}

#tableHeader {
  text-align: center;
  font-size: 150%;
}

.normalText {
  margin-left: 85px;
}

.box {
  float: left;
  margin: 2%;
  margin-top: 0px;
  border: 15px, solid, black;
  width: 30%;
}

body {
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("brownPlaid.jpg");
  font-family: 'Puritan', sans-serif;
}

h1 {
  border-bottom: 0px;
  margin-top: -10px;
  margin-bottom: -20px;
  margin-left: 20px;
  padding-bottom: 0px;
  font-family: 'Pacifico', cursive;
  font-size: 600%;
  color: #33CCFF;
}

h3 {
  border-top: 0px;
  margin-top: -35px;
  margin-left: 120px;
  padding-top: 0px;
  font-family: 'Lora', serif;
  color: white;
}

strong {
  font-weight: bold;
  color: #33CCFF;
}

textarea {
  width: 300px;
}

th, td {
  padding: 15px;
}

table tr:nth-child(even) {
    background-color: #eee;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

marquee {
  float: bottom;
}







#toolbar ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
#toolbar ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#toolbar ul li:hover {
  background: #555;
  color: #fff;
}
#toolbar ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
#toolbar ul li ul li {
  background: #555;
  display: block;
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
#toolbar ul li ul li:hover { background: #666; }
#toolbar ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
